/*--- Heart-Point ---*/
.heart-point{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  gap: 80px;
  position: absolute;
  left: 100px;
  top: 385px;
}
.full-point:hover{
  background: url('../img/full-point.svg');
}

/*--- Назва Місяцю --- Month Name ---*/
.month{
  display: flex;
  margin: 71px auto;
  gap: 450px;
}
.monthtext{
  font-size: 18px;
  font-weight: 700;
}

/*--- Дні місяця --- Month-Days ---*/
.feature{
  display: flex;
  margin: auto;
}
.month-day1{
  background: rgba(237, 225, 255, 0.85);
  font-size: 20px;
  color: #2946BF;
  border: 2px #D048FF solid;
  text-decoration: none;
  padding: 29px 34px;
  font-weight: 500;
  line-height: 1.4em;
  display: flex;
  width: 96px;
  text-align: center;
  gap: 50px;
}

/*--- Дати місяця --- Month-Numbers ---*/
.feature{
  display: flex;
  margin: auto;
}
.month-day2{
  background: rgba(237, 225, 255, 0.85);
  font-size: 20px;
  color: #2946BF;
  border: 2px #D048FF solid;
  text-decoration: none;
  padding: 0 0 79px 137px;
  font-weight: 500;
  line-height: 1.4em;
  display: flex;
  width: 27px;
  text-align: right;
}
.month-day2:hover {
  background: linear-gradient(49.64deg, #EDE1FF 26.9%, #FFC7F0 100%);
}
.month-day3{
  background: rgba(215, 188, 253, 0.85);
  font-size: 20px;
  color: #2946BF;
  border: 2px #D048FF solid;
  text-decoration: none;
  padding: 0 0 79px 137px;
  font-weight: 500;
  line-height: 1.4em;
  display: flex;
  width: 27px;
  text-align: right;
}
.month-day3:hover {
  background: linear-gradient(49.64deg, #D7BCFD 26.9%, #FFC7F0 100%);
}